<footer class="footer mt-auto py-3">
    <div class="container">
        <span>
            Find my open source project on Github 
            <a class="github-link" href="https://github.com/tyrantsMedic/hw2Stats">@tyrantsMedic</a>
        </span>
        <br>
        <span>Copyrights © 2023 Hamza Nawaz</span>
    </div>
</footer>
</body>
</html>